redis==4.5.4

email-validator==2.2.0
Faker==30.8.1
fpdf==1.7.2
pydantic==2.11.7
pydantic-settings==2.8.1
pydantic-extra-types==2.11.1
typing_extensions==4.15.0
annotated-types==0.7.0
typing-inspection==0.4.1

# Development & Testing
pytest==8.3.4
pytest-asyncio==0.23.5
black==24.10.0
packaging==24.2


# Database & Storage
SQLAlchemy==2.0.36
alembic==1.13.3
asyncpg==0.30.0
psycopg2==2.9.10
pymongo==4.6.1
pinecone==6.0.1
aiosmtplib==5.1.0
# Security & Authentication
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==4.2.0
cryptography==44.0.1
authlib==1.6.9
google-auth==2.49.1
slowapi==0.1.9


fastapi==0.115.11
fastapi-cli==0.0.7
fastapi-debug-toolbar==0.6.3
fastapi-mail==1.4.2
uvicorn==0.35.0
starlette==0.41.3
anyio==4.8.0
httpx==0.28.1
requests==2.32.3
python-multipart==0.0.20
python-socketio==5.11.4
python-dotenv==1.1.0
Jinja2==3.1.5
MarkupSafe==3.0.3
