/* Full Screen */

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(
    135deg,
    #4f46e5,
    #7c3aed
  );
}

/* Center Container */

.verify-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */

.verify-card {
  width: 420px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow:
    0 20px 40px rgba(
      0,
      0,
      0,
      0.15
    );
  text-align: center;
}

/* Icon */

.verify-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  background: #eef2ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

/* Heading */

.verify-title {
  font-size: 28px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 10px;
}

/* Subtitle */

.verify-subtitle {
  color: #6b7280;
  margin-bottom: 30px;
  line-height: 1.5;
}

/* OTP Input */

.otp-input {
  width: 100%;
  height: 60px;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 8px;
  outline: none;
  margin-bottom: 20px;
  transition: 0.3s;
}

.otp-input:focus {
  border-color: #4f46e5;
  box-shadow:
    0 0 0 4px
    rgba(
      79,
      70,
      229,
      0.15
    );
}

/* Button */

.verify-btn {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 12px;
  background: #4f46e5;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.verify-btn:hover {
  background: #4338ca;
  transform: translateY(-2px);
}

/* Responsive */

@media (max-width: 500px) {

  .verify-card {
    width: 90%;
    padding: 30px;
  }

}

.otp-timer{

  margin-bottom:20px;

  color:#fbbf24;

  font-size:15px;

  font-weight:600;
}

.otp-timer span{

  display:block;

  margin-top:6px;

  font-size:24px;

  font-weight:700;

  color:#4f46e5;
}